[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "5.3.3"
flask = "2.3.1"
tensorflow = "2.12.0"
keras = "2.12.0"
eventlet = "0.33.3"
pytest = "7.3.1"
pytest-cov = "4.0.0"
pytest-mock = "3.10.0"
colorama = "0.4.6"
coverage-badge = "*"
pandas = "2.0.2"
matplotlib = "3.7.1"
scikit-learn = "1.2.2"
[dev-packages]

[requires]
python_version = "3.9"
