html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

input {
	border: none;
}
body {
  background-color: #212332;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
.Title {
  margin: 10px 0 1px 1%;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
}