html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

body {
    font-family: Poppins, "Source Sans Pro";
    background-color: #212332;
    width: 100%;
    user-select: none;
}
a {
    text-decoration: none;
    color: white;
}
.Title {
    margin: 10px 0 1px 1%;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .Title {
        font-size: 5rem;
    }
}