.input_layer {
    background-color: #307d9e;
}

.conv_layer {
    background-color: #5ecf5c;
}

.activation_layer {
    background-color: #8ce1f4;
}

.pooling_layer {
    background-color: #eb8a83;
}

.core_layer {
    background-color: #00e1ff;
}

.reshaping_layer {
    background-color: #a190ff;
}

.regularization_layer {
    background-color: #fb86ff;
}
