<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>SNNTP</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href={{ url_for('static', filename='style/index.css') }}/>
</head>
<body>
  <div class="Title" onclick="BackToIndex()">Simple Neural Network Training Platform </div>

  {% if ProjectList %}
  <!-- 
      | Project Exist |
  -->

  <div class="ProjectExist">
    <div class="MyProject">My Project</div> 
    <div id="ProjectExistCreate" onclick="CreateProject()">
      <div class="Create">
        <img class="CreateCross" src={{ url_for('static', filename='assets/CreateProject_cross.png') }} title="Create Project"/>
        <div class="CreateText">Create project</div>
      </div>
    </div>
  </div>

  <!-- List Start -->
  <div id="ProjectExistList">

    {% for key, project in ProjectList.items() %}

    <div id="{{project.name}}" class="ProjectExistItem">
      <div class="ProjectExistItem_Top">
        <div class="ProjectExistItem_File" onclick="ModelItem('{{project.name}}')">
          <img src={{ url_for('static', filename='assets/ProjectFile.png') }} title="File"/>
        </div>
        <div class="ProjectExistItem_Menu_Area" onclick="Item_Menu('{{project.name}}')">
          <img class="ProjectExistItem_Menu" src={{ url_for('static', filename='assets/ProjectMenu.png') }} title="Menu"/>
        </div>
        <div class="MenuClick">
          <div class="MenuClick_Item MenuClick_Delete" onclick="ModelDelete('{{project.name}}')">Delete model</div>
          <div class="MenuClick_Item MenuClick_Rename" onclick="ModelRename('{{project.name}}')">Rename model</div>
        </div>
      </div>
      <div class="ProjectExistItem_Name" onclick="ModelItem('{{project.name}}')">{{project.name}}</div>
      <div class="ProjectExistItem_Date" onclick="ModelItem('{{project.name}}')">{{project.modify_time}}</div>
    </div>
    
    {% endfor %}

  </div>
  <!-- List End -->

  {% else %}
  <!-- 
      | Project Not Exist |
  -->

  <div class="MyProject">My Project</div>
  <div id="ProjectNotExist" class="ProjectNotExist" onclick="CreateProject()">
    <a href="#">
      <div class="Create">
          <img class="CreateCross" src={{ url_for('static', filename='assets/CreateProject_cross.png') }} title="Create Project"/>
          <p class="CreateText">Create Project</p>
      </div>
    </a>
  </div>

  {% endif %}

  <!-- Select Model Type Board -->
  <div id="SelectModelType" class="BackgroundBoard">
    <div class="BackgroundBoardTitle">Model Type</div>
    <div class="SelectModelType_Item" onclick="SelectModel('CNN')">CNN</div>
  </div>

  <!-- Type Project Name Board -->
  <div id="TypeBoard" class="BackgroundBoard">
      <p class="BackgroundBoardTitle">Project Name</p>
      <input id="TypeInput" type="text" required="" placeholder=" Type name here......">
      <div class="TypeOK" onclick="TypeOKFromBoard()">OK</div>
  </div>
  
  <script type="text/javascript" src={{ url_for('static', filename='script/index.js') }}></script>
</body>