{% extends "base.html" %}

{% block title %}SNNTP-Model{% endblock %}

{% block head %}
  <link rel="stylesheet" href={{ url_for('static', filename='style/model.css') }}/>
  <link rel="stylesheet" href={{ url_for('static', filename='style/layer.css') }}/>
  <script type="text/javascript" src={{ url_for('static', filename='script/jquery.connectingLine.js') }}></script>
{% endblock %}

{% block content %}

<div class="TopItemList">
    <div class="MyProject">{{projectName}}</div>
    <div class="SelectItemChooseList">
        <div id="ChooseTrain" class="SelectItem">Choose training data</div>
        <div id="ChooseValidation" class="SelectItem">Choose validation data</div>
        <div id="ChooseTest" class="SelectItem">Choose test data</div>
    </div>
    <div class="SelectItem SelectItemRight">
        <img src={{ url_for('static', filename='assets/train.png') }} title="Create Project"/>
        <p>Train model</p>
    </div>
</div>
<div class="bottom">
    <div class="modelshow">
        <div id="droparea" class="droparea"></div>
    </div>
    <div class="layer">
        <div class="layerTitle">Layer</div>
        <div class="layerCategory">
            <div>
                <div>
                    <img>
                    <p>In/Out layer</p>
                </div>
                <div class="input_layer">Input</div>
                <div class="output_layer">Output</div>
            </div>
            <div>
                <div>
                    <img>
                    <p>Test</p>
                </div>
                <div class="">Test-4</div>
                <div class="">Test-5</div>
                <div class="">Test-6</div>
            </div>
            <div>
                <div>
                    <img>
                    <p>Test</p>
                </div>
                <div class="">Test-7</div>
                <div class="">Test-8</div>
                <div class="">Test-9</div>
            </div>
        </div>
    </div>
</div>

<div id="CenterBoard">
    <div id="CenterBoardText">Training data path</div>
    <div id="CBFileButton" class="CenterBoardContent">選擇檔案</div>
    <input id="CBFile" type="file" name="data" accept=".pdf" placeholder="Select a file">
    <div id="CBContent" class="CenterBoardContent"></div>
    <div id="CenterBoardButton">Upload</div>
</div>
<div id="AlertDialog">Message</div>
<script src={{ url_for('static', filename='script/model.js') }}></script>

{% endblock %}