{% extends "base.html" %}

{% block title %}SNNTP-{{projectName}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href={{ url_for('static', filename='style/model.css') }}/>
  <link rel="stylesheet" href={{ url_for('static', filename='style/layer.css') }}/>
  <script type="text/javascript" src={{ url_for('static', filename='script/jquery.connectingLine.js') }}></script>
{% endblock %}

{% block content %}

<div class="TopItemList">
    <div class="MyProject">{{projectName}}</div>
    <div class="SelectItemChooseList">
        <div id="ChooseTrain" class="SelectItem">Choose training data</div>
        <div id="ChooseTest" class="SelectItem">Choose test data</div>
    </div>
    <div id="train_model" class="SelectItem SelectItemRight">
        <img src={{ url_for('static', filename='assets/train.png') }} title="Create Project"/>
        <p>Build Model</p>
    </div>
</div>
<div class="bottom">
    <div class="modelshow">
        <div id="droparea" class="droparea"></div>
    </div>
    <div class="layer">
        <div class="layerTitle">Layer</div>
        <div class="layerCategory">
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/input.png') }} title="Input layer"/>
                    <p>Input layer</p>
                </div>
                <div class="input_layer">Input</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/convolution.png') }} title="Convolution layer"/>
                    <p>Convolution layer</p>
                </div>
                <div class="conv_layer">Conv2D</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/activation.png') }} title="Activation layer"/>
                    <p>Activation layer</p>
                </div>
                <div class="activation_layer">Activation</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/pooling.png') }} title="Pooling layer"/>
                    <p>Pooling layer</p>
                </div>
                <div class="pooling_layer">MaxPooling</div>
                <div class="pooling_layer">AveragePooling</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/reshaping.png') }} title="Reshaping layer"/>
                    <p>Reshaping layer</p>
                </div>
                <div class="reshaping_layer">Flatten</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/regularization.png') }} title="Regularization layer"/>
                    <p>Regularization layer</p>
                </div>
                <div class="regularization_layer">Dropout</div>
            </div>
            <div>
                <div>
                    <img src={{ url_for('static', filename='assets/core.png') }} title="Core layer"/>
                    <p>Core layer</p>
                </div>
                <div class="core_layer">Dense</div>
            </div>
            <!-- <div>
                <div>
                    <img />
                    <p>Test</p>
                </div>
                <div class="">Test-4</div>
            </div> -->
        </div>
        <div id="save_graphy" class="layerCategoryBottom">Save</div>
    </div>
</div>

<div id="CenterBoard">
    <div id="CenterBoardText">Training data path</div>
    <div id="CBFileButton" class="CenterBoardContent">選擇檔案</div>
    <input id="CBFile" type="file" name="data" accept=".zip" placeholder="Select a file">
    <div id="CBContent" class="CenterBoardContent"></div>
    <div id="CenterBoardButton">Upload</div>
</div>
<div id="TrainingBoard">
    <div id="TrainingBoardText">Training Board</div>
    <div id="TrainingChart">
        <img src={{ url_for('static', filename='assets/etcd_raft.png') }} title="etcd raft"/>
        <img src={{ url_for('static', filename='assets/etcd_raft.png') }} title="etcd raft"/>
    </div>
    <div id="TrainingStatus">
        <p>Training Status : </p>
        <span> Test </span>
    </div>
    <div id="TrainingBar">
        <p>Training Prograss : </p>
        <div class="g-container">
            <div class="g-progress"></div>
        </div>
        <!-- epoch -->
    </div>
    <div id="TrainingButtonList">
        <div>Export Model</div>
        <div>Export Training Data</div>
        <div>Stop Training</div>
    </div>
</div>
<div id="TrainingBoardBack"></div>
<div id="AlertDialog">Message</div>
<script>
    /* Layer Parameter */
    let layerDict = {
        // "Test-4": [{ name: "Name", type: "number", initVal: 0 }],
        Conv2D: [
            { name: "filters", type: "number", initVal: 32 },
            { name: "kernel_size", type: "number", initVal: 3 },
            { name: "strides", type: "number", initVal: 1 },
            {
                name: "padding",
                type: "select",
                initVal: ["valid", "same"],
            },
        ],
        Activation: [
            {
                name: "type",
                type: "select",
                initVal: [
                    "softmax",
                    "elu",
                    "selu",
                    "softplus",
                    "softsign",
                    "relu",
                    "tanh",
                    "sigmoid",
                    "hard_sigmoid",
                    "exponential",
                    "linear",
                    "elu",
                    "PReLU ",
                    "LeakyReLU",
                ],
            },
        ],
        MaxPooling: [
            { name: "pool_size", type: "number", initVal: 2 },
            { name: "strides", type: "number", initVal: 1 },
            {
                name: "padding",
                type: "select",
                initVal: ["valid", "same"],
            },
        ],
        AveragePooling: [
            { name: "pool_size", type: "number", initVal: 2 },
            { name: "strides", type: "number", initVal: 1 },
            {
                name: "padding",
                type: "select",
                initVal: ["valid", "same"],
            },
        ],
        Dense: [
            { name: "units", type: "number", initVal: 10 },
            { name: "use_bias", type: "checkbox", initVal: 0 }
        ],
        Flatten: [],
        Dropout: [
            {
                name: "rate",
                type: "number",
                initVal: 0.66,
                step: 0.01,
                min: 0,
                max: 1,
            },
            { name: "seed", type: "number", initVal: 3 },
        ],
    };
    /*
    layerName = Layer 名稱
    keyName = 數值名稱
    keyType = 數值類型 (number, text)
    keyVal = 數值初始值
    {
        layerName:[
            {
                name: "keyName",
                type: "keyType",
                initVal: "keyVal"
            }
        ]
    }
    */
</script>
<script src={{ url_for('static', filename='script/model.js') }}></script>

{% endblock %}